section.links
    .links-inner
      ul
        li
          h3 What&apos;s New
        li
          a(href='#') Surface Pro X
        li
          a(href='#') Surface Laptop 3
        li
          a(href='#') Surface Pro 7
        li
          a(href='#') Windows 10 apps
        li
          a(href='#') Office apps
      ul
        li
          h3 Microsoft Store
        li
          a(href='#') Account Profile
        li
          a(href='#') Download Center
        li
          a(href='#') Microsoft Store support
        li
          a(href='#') Returns
        li
          a(href='#') Older tracking
      ul
        li
          h3 Education
        li
          a(href='#') Microsfot in education
        li
          a(href='#') Office for students
        li
          a(href='#') Office 365 for schools
        li
          a(href='#') Deals for studentss
        li
          a(href='#') Microsfot Azure
      ul
        li
          h3 Enterprise
        li
          a(href='#') Azure
        li
          a(href='#') AppSource
        li
          a(href='#') Automotive
        li
          a(href='#') Government
        li
          a(href='#') Healthcare
      ul
        li
          h3 Developer
        li
          a(href='#') Visual Studio
        li
          a(href='#') Windowszs Dev Center
        li
          a(href='#') Developer Network
        li
          a(href='#') TechNet
        li
          a(href='#') Microsoft Developer
      ul
        li
          h3 Company
        li
          a(href='#') Careers
        li
          a(href='#') About Microsoft
        li
          a(href='#') Company news
        li
          a(href='#') Privacy at Microsoft
        li
          a(href='#') Inverstors
footer.footer
    .footer-inner
      div
        i.fas.fa-globe.fa-2x
        |  English (United States)
      ul
        li
          a(href='#') Sitemap
        li
          a(href='#') Contact Microsoft
        li
          a(href='#') Privacy &amp; cookies
        li
          a(href='#') Terms of use
        li
          a(href='#') Trademarks
        li
          a(href='#') Safety &amp; eco
        li
          a(href='#') About our ads
        li
          a(href='#') &copy; Microsoft 2020
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="/script/script.js")
