<section class="chap">
  <div class="chap-title">
    <a href="/{{story.slug}}">
      <h2 class="my-1">{{story.name}}</h2>
    </a>
    <h3 class="my-1">{{chap.name}}</h3>
    <div class="button my-1">
      <button class="btn next">Next</button>
      <select name="" id="">
        <option value="tap-01">Tap 1: Ra khơi</option>
      </select>
      <button class="btn prev">Prev</button>
    </div>
  </div>
  <div class="chap-content">
    {{{chap.content}}}
  </div>
</section>